<Settings>
  <ApiServices>
    <ApiService>
      <Name>Alpha Vantage</Name>
      <Key>bbbbbbbbbbbb</Key>
    </ApiService>
    <ApiService>
      <Name>Second Company</Name>
      <Key>another key</Key>
    </ApiService>
  </ApiServices>
  <FavoriteStocks>
    <Stock>fdgsdfh jhgjhb</Stock>
    <Stock>ikghjkjk</Stock>
    <Stock>hjk</Stock>
    <Stock>h</Stock>
    <Stock>hgjf</Stock>
    <Stock>ggggg</Stock>
  </FavoriteStocks>
</Settings>