<Settings>
  <ApiServices>
    <ApiService>
      <Name>
      </Name>
      <Key>
      </Key>
    </ApiService>
  </ApiServices>
  <FavoriteStocks>
    <Stock>fdgsdfh jhgjhb</Stock>
    <Stock>ikghjkjk</Stock>
    <Stock>hjk</Stock>
    <Stock>h</Stock>
    <Stock>hgjf</Stock>
  </FavoriteStocks>
</Settings>