<Settings>
  <ApiServices>
    <ApiService>
      <Name>Alpha Vantage</Name>
      <Key>bbbbbbbbbbbb</Key>
    </ApiService>
    <ApiService>
      <Name>Second Company</Name>
      <Key>another key</Key>
    </ApiService>
  </ApiServices>
  <FavoriteStocks>
    <Stock>MSFT</Stock>
    <Stock>GOOG</Stock>
  </FavoriteStocks>
</Settings>